/01_Interfaces/Interfaces-Ejercicio1/build/
/01_Interfaces/Interfaces-Ejercicio1/nbproject/private/
/01_Interfaces/Interfaces-Ejercicio2/build/
/03_Archivos/Archivos-Ejercicio2/nbproject/private/
/03_Archivos/Archivos-Ejercicio2/build/
/02_Excepciones y Flujos de ES/Excepciones-Ejercicio5/build/
/03_Archivos/Archivos-Ejercicio3/build/
/03_Archivos/Archivos-Ejercicio3/nbproject/private/
/03_Archivos/Archivos-Ejercicio5/nbproject/private/
/03_Archivos/Archivos-6.D/build/
/03_Archivos/Archivos-6.D/nbproject/private/
/03_Archivos/Archivos-Ejercicio6/nbproject/private/
